<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.smartmca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Declare MainActivity as the launcher activity -->
        <activity android:name=".MainActivity"
            android:exported="true"> <!-- Specify android:exported -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare LoginActivity -->
        <activity android:name=".LoginActivity"
            android:exported="false" /> <!-- Add android:exported attribute -->

        <!-- Declare DashboardActivity -->
        <activity android:name=".DashboardActivity"
            android:exported="false" />
        <activity android:name=".RegistrationActivity"
            android:exported="false" /> <!-- Make sure this entry is included -->
        <!-- Add android:exported attribute -->
        <activity android:name=".ForgotPasswordActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
